input[type="search"] {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  height : 38px;
  border: 1px solid black;
  border-radius: 10px;
	
}


  input[type="search"] {

  width: 18%;
}

input[type="search"]:focus {
  background-color: #DCDCDC;
  outline: none;
  width: 25%;
}

input[type="search"]::placeholder {
  color: black;
}

#response-box {
  
      width: 100%;
  
    }

    #search-results {
      display: none;
      position: absolute;
      background-color: white;
      width: 300px;
      border: 1px solid gray;
      z-index: 1;
    }
    #search-results a {
      width: 100%;
      text-align: left;
      text-decoration: none;
      color: black;
    }
    #search-results a:hover {
      background-color: lightgray;
    }

/* CSS for styling the modal and product list */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 95%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content h2 {
    font-family: 'Freestyle Script', cursive;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.modal-content {
  position: relative;
}

.modal-button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  outline: 0;
  margin-bottom: 10px;
}



/* Style the product list */
#modal-text {
    list-style: none; /* Remove bullet points */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
}

#modal-text li {
    
    padding: 10px; /* Add padding */
    margin-bottom: 10px; /* Add margin between items */
    border-radius: 5px; /* Add rounded corners */
    border-bottom: 1px solid; /* Add a bottom border */
}

#modal-text li:nth-child(odd) {
    border-color: red; /* Set the border color of odd-numbered items to red */
    background-color: #ADD8E6; /* Light bleu background color */
}
#modal-text li:nth-child(even) {
    border-color: blue; /* Set the border color of even-numbered items to blue */
    background-color: #B0C4DE; /* Light Steel bleu background color */
}

	

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
